.flex-left {
  flex: left;
}

.section{
  margin-left: 15%;
}

.subsection{
  width: 65%;
}

.gram-input {
  flex: left;
  width: 150px;
}

.gram {
  flex: right;
  width: 10px;
  padding-left: 0px;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}


.image-container:hover .overlay {
  opacity: 1;
}

.icon {
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding: 0;
  border:none;
  background-color: transparent;
  color: white
}
  
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
}

.user:hover {
  color: #eee;
}
